@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;

}

:root {
    --roboto-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--roboto-font);
    background-image: url('images/jonathan-pease-1nlhZy86uPU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-position: 50% 50%;
  
}

h1 {
    font-weight: 100;
    font-size: 2.5em;
}

.main-container {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.input-label {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    letter-spacing: 4;
    font-size: 1em;
    font-weight: 100;
    width: 100%;

    
}

.text-box {
    margin-bottom: 1em;
    padding: 15px;
    border-radius: 10px;
    display: block;
    width: 100%;
}
button {
    padding: 6px;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
}
button:hover {
   
    background-color: lightslategray;
    opacity: 2;
    
    
}

button:hover {
    color: white;
    cursor: pointer;
    background: #4d4c6e;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.weather-detail {
    margin: 2em;
   
}

.detail {
    display: flex;
    font-weight: 200;
    font-size: 1.5em;
    justify-content: flex-start;
    color: white;
    text-align: left;
}

.time {
    font-weight: 100;
    font-size: 1.5em;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.curCity {
    margin-right: 4.7em;
    font-weight: 400;
    text-align: left;
}

.curTime {
    text-align: left;
}
.icon {
    transform: scale(2);
    text-align: center;
}


