@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;

}

:root {
    --roboto-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--roboto-font);
    background-image: url('images/nyc-weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-position: 50% 50%;
  
}

h1 {
    font-weight: 100;
    font-size: 2.5em;
}

.main-container {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.input-label {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    letter-spacing: 4;
    font-size: 1em;
    font-weight: 100;
    width: 100%;

    
}

.text-box {
    margin-bottom: 1em;
    padding: 15px;
    border-radius: 10px;
    display: block;
    width: 100%;
}
button {
    padding: 6px;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
}
button:hover {
    cursor: pointer;
}

.weather-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    width: 100%;
}

.detail {
    display: flex;
    font-weight: 100;
    justify-content: flex-start;
    color: white;
}

.time {
    font-weight: 100;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: block;
    margin-left: 10em;
}

.icon {
    transform: scale(1.5);
}
